{% include 'header.html' %}
<div class="card shadow m-2">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom:2px solid orange">Change Password</h5>
        <div class="container-fluid">
            <form method="post" name="changepassword" >
                {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="newpwd" class="form-control" placeholder="Enter New Password" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" name="cnewpwd" class="form-control" placeholder="Enter New Password Again" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="hidden" name="user_id" class="form-control" value="{{user_id}}">
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-dark m-2 px-3">
            </form>
        </div>
    </div>
</div>